.team img{
    width:10rem;
    grid-area: img;
}

.team li{
    grid-template-areas: 
    "img ."
    "img ."
    ;
    column-gap: 1rem;
    width: fit-content;

    margin-block: 1rem;

    border: 1px solid var(--gray3);
    border-radius: 6px;
    padding: 0.5rem;
}