.book-filter{
    margin-bottom: 1rem;
}

.book-filter form{
    gap: 0.5rem;
    align-items: center;
}

.book-filter form>*{
    font-size: 1rem;
}

.book-filter input{
    margin-inline-end: 1rem;
    border-radius: 5px;
    border: 1px solid;
    padding: 0.2rem 0.6rem;
}

.book-filter #maxPrice{
    width: 5rem;
    text-align: center;
}