.book-edit {
    grid-template-columns: repeat(3, max-content);
    gap: 1rem;
}

.book-edit label:not(:last-of-type),
.book-edit #onsale {
    grid-column: 1;
}

.book-edit button{
    grid-column: 2;
}